#consuming-data{
    margin: 0 auto;
    width: 80%;

    thead tr > :first-child{
        width: 8%;
    }
}

.score-right{
    padding: 1rem;
}

.score-structural:nth-child(1n) .score-right{
    background: #eee
}

.score-structural:nth-child(2n) .score-right{
    background:#ccc
}